@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Honk&family=Noto+Color+Emoji&family=Vollkorn&display=swap');

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-button {
    width: 3px;
    height: 3px;
  }
  ::-webkit-scrollbar-thumb {
    background: #ffbb00;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  ::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  ::-webkit-scrollbar-track:active {
    background: #333333;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  
.honk {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
}

.poster{
  max-width: 100%;
  max-height: 250px;
}

.hl{
  color: #ffc107;
}

.rating-year-grid{
  display: grid;
  grid-template-columns: 25px 25px 100px 50px;
  grid-template-rows: 25px;
  column-gap: 5px;
  margin-bottom: 3px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-size: 14px;
}

.item{
  display:flex;
  justify-content: center;
  align-items: center;
}

.svg-div{
  grid-column-start: 1;
  grid-column-end: 2;
  width: 25px;
  height:25px;
}

.rating{
  grid-column-start: 2;
  grid-column-end: 3;
}

.year{
  grid-column-start: 4;
  grid-column-end: 5;
}

.imdb{
  height: 25px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.alert-container{
  min-height: 50%;
  min-height: 50vh;
  display: flex;
  align-items: center;
}